.banner{
    position: relative;
    background-image: url(/assets/images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 4rem;
}

.title{
    max-width: 40%;
    color:#971b1e ;
    text-align: right;
  
   
}

.title {
    font-size: 4rem;
    font-family:Arial Rounded MT  ; 
    font-style: bold; 
}
.title span {
    font-size: 2.5rem;
    display: block;
    text-align: right;
}

.button {
    background-color: none;
    color: #971b1e;
    border: none;
    border-radius: .25em;
    text-align: right;
    text-decoration: none;
    margin-top: 40px;
   
}

.button:hover{
    background-color: none;
 
}

.navbar {
    border-bottom: 1px ;
    padding: .5em;
}
.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.navbar-nav {
    display: flex;
    list-style: none;
    padding: 0;
}
.navbar-nav li {
    padding: .5em;
    margin: 0 .5em; 
}

#search-for-recipe-input{
    background-color:#e6e6e5 ;
    padding-top: 1rem;
    padding-left: .15rem;
    font-family: 'Open Sans extra bold';
    font: 1em sans-serif;
    font-size: .75rem;
    border: none;
    
}

a {
    color:  black;
    font-family: 'Open Sans extra bold','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    text-decoration: none;
}

header h1{
    font-family: 'Open Sans Condensed SemiBold','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #971b1e;
    font-size: 2rem;
    text-align: center;
}

img{
    margin: auto;
}